@import url('./fonts-core.css');

:root {
  --md-admonition-icon--pitfall: url('./media/warn.svg');
  --md-admonition-icon--suggest: url('./media/suggest.svg');
  --md-admonition-icon--explain: url('./media/explain.svg');
  --md-admonition-icon--notes: url('./media/note.svg');
  --md-admonition-icon--vocab: url('./media/vocab.svg');
}

body,
input {
    font-family: Recursive-2019, NotoSerif;
    --CASL: 1;
    --slnt: 0;
    --MONO: 0;
    font-feature-settings: "ss01" on, "ss02" on, "ss08" on;
    border: none;
    transition: 1s;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1.5 !important;
}
/*
[data-md-color-scheme=default] {
    --cite-text-color: #000;
}

[data-md-color-scheme=slate] {
    --img-filter: brightness(0) invert(1);
}
*/
.md-typeset, .md-nav, .md-typeset table:not([class]) {
    font-size: 16px !important;
    line-height: 1.5 !important;
}


h1, h2, h3, h4, h5, h6 {
    font-family: ZillaSlab;
    font-weight: 600 !important;
    line-height: 1.4 !important;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    font-weight: 800;
    --CRSV: 0;
    transition: 1s;
}

h1 {
    font-size: 44px !important;
    margin-bottom: 20px !important;
}

h2 {
    font-size: 30px !important;
    margin-bottom: 10px !important;
}

h3 {
    font-size: 24px !important;
    margin-bottom: 10px !important;
}

.underline {
    text-decoration: underline;
}
.md-typeset code {
    padding: 0.2em 0.4em!important;
    border-radius: 0.3rem!important;
}

.md-typeset pre {
    border-radius: .3rem!important;
    padding: 10px!important;
    overflow-x: auto!important;
    margin: auto!important;
}

.md-tabs {
    display: none!important;
}
/*
.md-header-nav__button.md-logo{
    margin: 0.1rem 0.2rem!important;
    background-color: #fff!important;
}
html .md-nav--primary .md-nav__title--site .md-nav__button {
    width: 8.5rem !important;
    background-color: #fff!important;
}
*/
.md-header, .md-tabs{
    background: #1F64FF !important;
}
@media only screen and (max-width: 76.1875em){
    nav > label.md-nav__title.md-nav__title--site{
        background: #1F64FF !important;
    }
    /*
    html .md-nav--primary .md-nav__title--site .md-nav__button {
        display: block;
        position: absolute;
        top: 0.2rem;
        left: 0.6rem;
        width: 10.5rem !important;
        height: 3.2rem;
        font-size: 2.4rem;
        padding-top: 0!important;
        background-color: #fff !important;
    }*/
}

.centered {
    text-align: center;
}

cite {
    background-color: #ffff00!important;
    color:#000!important;
}

/* Begin Custom Admonitions */

/*Pitfall*/
.md-typeset .admonition.pitfall {
  border-color: rgb(255, 145, 0);
}

.md-typeset .pitfall>.admonition-title {
  background-color: rgba(255, 145, 0, 0.1);
  border-color: rgb(255, 145, 0);
}

.md-typeset .pitfall>.admonition-title::before {
  background-color: rgb(255, 145, 0);
  -webkit-mask-image: var(--md-admonition-icon--pitfall);
  mask-image: var(--md-admonition-icon--pitfall);
}

/*Suggest*/
.md-typeset .admonition.suggest {
  border-color: rgb(171, 71, 189);
}

.md-typeset .suggest>.admonition-title {
  background-color: rgb(171, 71, 189, 0.1);
  border-color: rgb(171, 71, 189);
}

.md-typeset .suggest>.admonition-title::before {
  background-color: rgb(171, 71, 189);
  -webkit-mask-image: var(--md-admonition-icon--suggest);
  mask-image: var(--md-admonition-icon--suggest);
}

/*Explain*/
.md-typeset .admonition.explain {
  border-color: rgb(31,100,255);
}

.md-typeset .explain>.admonition-title {
  background-color: rgba(31, 100, 255, 0.1);
  border-color: rgb(31, 100, 255);
}

.md-typeset .explain>.admonition-title::before {
  background-color: rgb(31, 100, 255);
  -webkit-mask-image: var(--md-admonition-icon--explain);
  mask-image: var(--md-admonition-icon--explain);
}

/*General Notes*/
.md-typeset .admonition.notes {
  border-color: rgb(2, 166, 242);
}

.md-typeset .notes>.admonition-title {
  background-color: rgba(2, 166, 242, 0.1);
  border-color: rgb(2, 166, 242);
}

.md-typeset .notes>.admonition-title::before {
  background-color: rgb(2, 166, 242);
  -webkit-mask-image: var(--md-admonition-icon--notes);
  mask-image: var(--md-admonition-icon--notes);
}

/*Vocab*/
.md-typeset .admonition.vocab {
  border-color: rgb(0, 148, 133);
}

.md-typeset .vocab>.admonition-title {
  background-color: rgba(0, 148, 133, 0.1);
  border-color: rgb(0, 148, 133);
}

.md-typeset .vocab>.admonition-title::before {
  background-color: rgb(0, 148, 133);
  -webkit-mask-image: var(--md-admonition-icon--vocab);
  mask-image: var(--md-admonition-icon--vocab);
}

/* End Custom Admonitions */