/***************************
*   Font: Recursive Variable
*   Recursive-VF.ttf
*/

@font-face {
    font-family: Recursive-2019;
    src:url("https://s3.amazonaws.com/benetta.net/fonts/recursive-woff2/Recursive-VF.ttf") format("truetype");
    font-display: swap;
    text-align: initial;
    font-weight: 100 600;
    font-stretch: 25% 151%;
}

/*******************
*   Font: Zilla Slab
*/

@font-face {
    font-family: ZillaSlab;
    src:url('https://s3.amazonaws.com/benetta.net/fonts/zilla-slab/zilla-slab-v6-latin-500.woff2') format('woff2');
    font-display: swap;
    text-align: initial;
    font-style: normal;
    font-weight: 100 600;
}

/****************************
*   Font: Noto Serif
*/
@font-face {
    font-family: NotoSerif;
    src: url("https://s3.amazonaws.com/benetta.net/fonts/noto-serif/noto-serif-v11-latin-regular.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

/***********************
*   Font: World of Water
*/

@font-face {
    font-family: world-of-water;
    src: url("https://s3.amazonaws.com/benetta.net/fonts/world-of-water/world-of-water-v2.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {font-family:system; font-style:normal; font-weight:300; src:local(".SFNSText-Light"),local(".HelveticaNeueDeskInterface-Light"),local(".LucidaGrandeUI"),local("Ubuntu Light"),local("Segoe UI Light"),local("Roboto-Light"),local("DroidSans"),local("Tahoma");}
@font-face {font-family:system; font-style:italic; font-weight:300; src:local(".SFNSText-Light"),local(".HelveticaNeueDeskInterface-Light"),local(".LucidaGrandeUI"),local("Ubuntu Light"),local("Segoe UI Light"),local("Roboto-Light"),local("DroidSans"),local("Tahoma");}
@font-face {font-family:system; font-style:normal; font-weight:400; src:local(".SFNSText-Light"),local(".HelveticaNeueDeskInterface-Light"),local(".LucidaGrandeUI"),local("Ubuntu Light"),local("Segoe UI Light"),local("Roboto-Light"),local("DroidSans"),local("Tahoma");}
@font-face {font-family:system; font-style:italic; font-weight:400; src:local(".SFNSText-Light"),local(".HelveticaNeueDeskInterface-Light"),local(".LucidaGrandeUI"),local("Ubuntu Light"),local("Segoe UI Light"),local("Roboto-Light"),local("DroidSans"),local("Tahoma");}
@font-face {font-family:system; font-style:normal; font-weight:500; src:local(".SFNSText-Light"),local(".HelveticaNeueDeskInterface-Light"),local(".LucidaGrandeUI"),local("Ubuntu Light"),local("Segoe UI Light"),local("Roboto-Light"),local("DroidSans"),local("Tahoma");}
@font-face {font-family:system; font-style:italic; font-weight:500; src:local(".SFNSText-Light"),local(".HelveticaNeueDeskInterface-Light"),local(".LucidaGrandeUI"),local("Ubuntu Light"),local("Segoe UI Light"),local("Roboto-Light"),local("DroidSans"),local("Tahoma");}
@font-face {font-family:system; font-style:normal; font-weight:700; src:local(".SFNSText-Light"),local(".HelveticaNeueDeskInterface-Light"),local(".LucidaGrandeUI"),local("Ubuntu Light"),local("Segoe UI Light"),local("Roboto-Light"),local("DroidSans"),local("Tahoma");}
@font-face {font-family:system; font-style:italic; font-weight:700; src:local(".SFNSText-Light"),local(".HelveticaNeueDeskInterface-Light"),local(".LucidaGrandeUI"),local("Ubuntu Light"),local("Segoe UI Light"),local("Roboto-Light"),local("DroidSans"),local("Tahoma");}

:root {
    --MONO: 0;   /* Monospace    */
    --CASL: 0;   /* Casual       */
    --slnt: 0;   /* Upright      */
    --CRSV: 0.5; /* Auto Cursive */
}

*,
*:before,
*:after {
    font-variation-settings: 
        "MONO" var(--MONO),
        "CASL" var(--CASL),
        "slnt" var(--slnt),
        "CRSV" var(--CRSV);
}

h4 {
    font-family: Recursive-2019;
    --CASL: 1;
    --slnt: 0;
    --MONO: 0;
    font-feature-settings: "ss01" on, "ss02" on, "ss08" on;
    border: none;
    transition: .5s;
}

h4:hover {
    font-weight: 800;
    --CRSV: 0;
    transition: .5s;
}

